@page
@model BankBarden.Pages.Transactions.TransactionsHistoryModel
@{
}

<div class="add-top-padding">
    <div class="container body-container">
        <div class="box-border add-smal-pading-around">

            <h1>Transactions History for Account @Model.AccountId</h1>


            <table class="table table-striped" id="post-table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Comment</th>
                    </tr>
                 </thead>
                <tbody>
                </tbody>
            </table>

            <a class="btn btn-primary"
            href="javascript:showMore();">
                Show More
            </a>



        </div>
    </div>
</div>

@section Scripts {
    <script>
        rowCount = 0;

        document.addEventListener("DOMContentLoaded", function () {
            showMore();
        });

        function showMore() {
             fetch("TransactionsHistory?handler=ShowMore&rowCount=" + rowCount + "&accountId=@Model.AccountId")
                .then((response) => response.json())
                .then((json) => {
                        rowCount = json.rowCount;
                        json.transHistList.forEach(drawElements);
                });
        }

        function drawElements(element) {
            document.querySelector('#post-table tbody').innerHTML +=
                `<tr>
                    <td>${element.id}</td>
                    <td>${element.date}</td>
                    <td>${element.amount}</td>
                    <td>${element.balance}</td>
                    <td>${element.symbol}</td>
                    
                </tr>`;
        }





    </script>
}

