@page
@model BankBarden.Pages.CustomerCRUD.EditCustomerModel
@{
}

<div class="add-top-padding add-bot-padding">
    <div class="container">
        <h1>Update Customer</h1>

        <form method="post">
            <input type="hidden" name="custumarId" value="@Model.CustomerId" />
            <div class="mb-3">
                <label class="form-label">FirstName</label>
                <input type="text" class="form-control" asp-for="FirstName" />
            </div>

            <div class="mb-3">
                <label class="form-label">LastName</label>
                <input type="text" class="form-control" asp-for="LastName" />
            </div>

            <div class="mb-3">
                <label asp-for="Gender">Gender</label>
                <select class="form-control" asp-for="Gender" asp-items="@Model.Genders">
                </select>
                <span asp-validation-for="Gender"
                      class="field-validation-error"></span>

            </div>

            <div class="mb-3">
                <label class="form-label">Streetaddress</label>
                <input type="text" class="form-control" asp-for="Streetaddress" />
            </div>

            <div class="mb-3">
                <label class="form-label">City</label>
                <input type="text" class="form-control" asp-for="City" />
            </div>

            <div class="mb-3">
                <label class="form-label">Zipcode</label>
                <input type="text" class="form-control" asp-for="Zipcode" />
                <span asp-validation-for="Zipcode"
                      class="field-validation-error"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Country">Country</label>
                <select class="form-control" asp-for="Country" asp-items="@Model.Countries">
                </select>
                <span asp-validation-for="Country"
                      class="field-validation-error"></span>

            </div>

            <div class="mb-3 d-flex justify-content-center">

                <button type="submit"
                        class="btn btn-primary mx-1"
                        style="width:120px">
                    Update
                </button>

                <button type="submit"
                        class="btn btn-danger mx-1"
                        style="width:120px"
                        asp-page-handler="Delete">
                    Delete
                </button>

                <a asp-page="/CustomerInfo"
                   asp-route-custId="@Model.CustomerId"
                   class="btn btn-secondary mx-1"
                   style="width:120px">
                    Go Back
                </a>
            </div>

        </form>
    </div>
</div>